@import url('http://fonts.googleapis.com/css?family=Roboto');

h1 {
	font-family: "Roboto";
	font-size: 50px;
	line-height: 1.2;
	color: #306692;
	text-align: center;
}

#countdown {
	/*width: 500px;*/
	padding: 0;
	text-align: center;
	background-color: #f6f6f6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 2em;
    line-height: 1.2;
}